@import url('https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css');

.item {
    color: #666;
    background: #333;
    height: 300px;
    line-height: 300px;
    /* Align the text vertically center. */
    font-size: 52px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.carousel {
    margin-top: 20px;
}
.carousel-control {
    top: 50%;

    /* border 3px, size 40px */
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;

    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
    text-align: center;
    opacity: .5;
    filter: alpha(opacity=50);
}
.bs-example {
    margin: 20px;
}
/* cancel background image gradient */
 .carousel-control.left-flat {
    right: auto;
    left: 15px;
}
/* override background image gradient */
 .carousel-control.right-flat {
    right: 15px;
    left: auto;
}

.ui-loader {
  display: none;
}

.ui-corner-all {
  display: none;
}

.ui-body-all {
  display: none;
}

.ui-loader-default {
  display: none;
}
